@model HomeViewModel
@section Slider{
    <script src="~/assets/js/slider.js"></script>
}
@{
    ViewData["Title"] = "Home Page";
}

<main id="home">
    <section id="slider">
        <div class="container">
            <div class="row">
                @foreach (var slide in Model.Sliders)
                {
                    <div class="myslides faded col-12">
                        <div class="slider-left-side col-6 @(slide.Order%2 == 0?"sl-left":"sl-right")">
                            <h3>@slide.Title</h3>
                            <p>
                                @slide.SubTitle
                            </p>
                            <br><br>
                            <a href="">
                                EXPLORE NOW<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                                    </path>
                                </svg>
                            </a>
                        </div>

                        <div class="slider-right-side col-6 @(slide.Order%2 == 0?"sl-right":"sl-left")">
                            <img src="~/assets/images/technica/@slide.Image">
                        </div>



                    </div>
                }

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <div class="dots-sec">
                @foreach (var item in Model.Sliders)
                {
                    <span class="dot" onclick="currentSlide(@item.Id)"></span>

                }
            </div>

        </div>
    </section>

    <section id="cards">
        <div class="container">
            <h2>KATEQORİYALAR</h2>
            <br />
            <br />
            <div class="row">
                @foreach (var card in Model.Categories.Take(3))
                {
                    <div class="card-item col-3">
                        <h3>@card.Name</h3>
                        <br>
                        <p>@card.Desc</p>
                        <img src="~/assets/images/decors/@card.BgImage" />
                        <br><br>
                        <a asp-action="index" asp-controller="shop" asp-route-categoryId="@card.Id" class="card-btn">ALIŞ-VERİŞ ET</a>
                    </div>

                }
            </div>
        </div>
    </section>

    <section id="department">
        <div class="container">
            <div class="row">
                <div class="department-item col-3" data-aos="flip-up" data-aos-duration="500">
                    <img src="~/assets/images/department/custom-glass-icon.png" alt="">
                    <br />
                    <br />
                    <a>Sadə kəsim şüşə</a>
                </div>
                <div class="department-item col-3" data-aos="flip-up" data-aos-duration="800">
                    <img src="~/assets/images/department/custom-shelves-icon.png" alt="">
                    <br />
                    <br />
                    <a>Sadə kəsim şüşə rəfi</a>
                </div>
                <div class="department-item col-3" data-aos="flip-up" data-aos-duration="1100">
                    <img src="~/assets/images/department/gym-mirrors-icon.png" alt="">
                    <br />
                    <br />
                    <a>İdman zalı üçün güzgü</a>
                </div>
                <div class="department-item col-3" data-aos="flip-up" data-aos-duration="1400">
                    <img src="~/assets/images/department/mirrors-icon.png" alt="">
                    <br />
                    <br />
                    <a>Sadə kəsim güzgü</a>
                </div>
            </div>
        </div>
    </section>

    <section id="feature">
        <div class="container">
            <div class="column">
                @foreach (var feature in Model.Categories.Take(2))
                {
                    <div class="feature-item col-12">
                        <div class="ft-left col-5">
                            <h4>@feature.Name</h4>
                            <br />
                            <p>
                                @feature.Desc
                            </p>
                            <br />

                            <a href="">
                                SHOP SHOWER DOORS<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                      fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                        <div class="ft-right col-6">
                            <img src="~/assets/images/technica/cns2.jpg" alt="">
                        </div>
                    </div>
                    <br>
                }

            </div>
        </div>
    </section>

    <section id="accessories">
        <div class="container">
            <h2>AKSESUARLAR</h2>
            <div class="row">
                @foreach (var acc in Model.Products.Take(3))
                {
                    @if (acc.IsAccessory == true)
                    {
                        <div class="acs-items col-3">
                            <h4><a asp-route-id="@acc.Id" asp-action="detail" asp-controller="accessory">@acc.Name</a></h4>
                            <p>"@acc.Desc.Substring(0, 150) ...."</p>
                            <img src="~/uploads/products/@acc.ProductImages.FirstOrDefault(x => x.PosterStatus == true)?.Image" alt="">
                            <br><br>
                            <a asp-route-id="@acc.Id" asp-action="detail" asp-controller="accessory" class="acs-btn">SHOP NOW</a>
                        </div>
                    }

                }
            </div>
        </div>
    </section>

    <section id="scnd-card">
        <div class="container">
            <div class="row">
                <div class="scnd-card-item col-5">
                    <h2>TEMPER OLUNMUŞ ŞÜŞƏ</h2>
                    <img src="~/assets/images/technica/tempered-safety-glass.webp" alt="">
                    <a href="" class="scnd-card-btn-left">ALIŞ-VERİŞ ET</a>
                </div>
                <div class="scnd-card-item col-5">
                    <h2>SADƏ ŞÜŞƏ</h2>
                    <img src="~/assets/images/technica/opaque-clear-glass-3.webp" alt="">
                    <a href="" class="scnd-card-btn-right">ALIŞ-VERİŞ ET</a>
                </div>
            </div>
        </div>
    </section>

    <section id="categories">
        <div class="container">
            <h2>KATEQORİYAYA UYĞUN ALIŞ-VERİŞ ET</h2>
            <br>
            <div class="row">
                <div class="ctg-item col-2">
                    <h5>ŞÜŞƏ</h5>
                    <ul>
                        <li><a href="">Custom Glass</a></li>
                        <li><a href="">Tempered Glass</a></li>
                        <li><a href="">Round Table Tops</a></li>
                        <li><a href="">Rectangle Table Tops</a></li>
                        <li><a href="">Square Table Tops</a></li>
                        <li><a href="">Plastic Desk Buttons</a></li>
                    </ul>
                </div>
                <div class="ctg-item col-2">
                    <h5>GÜZGÜ</h5>
                    <ul>
                        <li><a href="">Custom Glass</a></li>
                        <li><a href="">Tempered Glass</a></li>
                        <li><a href="">Round Table Tops</a></li>
                        <li><a href="">Rectangle Table Tops</a></li>
                        <li><a href="">Square Table Tops</a></li>
                        <li><a href="">Plastic Desk Buttons</a></li>
                    </ul>
                </div>
                <div class="ctg-item col-2">
                    <h5>ŞÜŞƏ RƏFLƏR</h5>
                    <ul>
                        <li><a href="">Custom Glass</a></li>
                        <li><a href="">Tempered Glass</a></li>
                        <li><a href="">Round Table Tops</a></li>
                        <li><a href="">Rectangle Table Tops</a></li>
                        <li><a href="">Square Table Tops</a></li>
                        <li><a href="">Plastic Desk Buttons</a></li>
                    </ul>
                </div>
                <div class="ctg-item col-2">
                    <h5>AKSESUARLAR</h5>
                    <ul>
                        <li><a href="">Custom Glass</a></li>
                        <li><a href="">Tempered Glass</a></li>
                        <li><a href="">Round Table Tops</a></li>
                        <li><a href="">Rectangle Table Tops</a></li>
                        <li><a href="">Square Table Tops</a></li>
                        <li><a href="">Plastic Desk Buttons</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="reviews">
        <div class="container">
            <div class="column">
                <div class="rvw-head col-12">
                    <div class="rvw-head-left col-6">
                        <h5>Müştərilərimizin Real Rəyləri</h5>
                    </div>
                    <div class="rvw-head-right col-6">
                        <p>1276 Rəy</p>
                        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button"
                           data-slide="prev">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button"
                           data-slide="next">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="rvw-items-sec">
                    <div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators2">
                        <div class="carousel-inner">
                            <div class="rvw-item carousel-item active">
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <div class="card">

                                            <i>10/04/21</i>
                                            <p>Perfection</p>
                                            <div class="rvw-stars">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                            </div>
                                            <br>
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus nisi
                                                quam odit
                                                reprehenderit velit illum perferendis.
                                            </p>
                                            <br>
                                            <small><i>Ganjali Imanov</i></small>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">

                                            <i>10/04/21</i>
                                            <p>Perfection</p>
                                            <div class="rvw-stars">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                            </div>
                                            <br>
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus nisi
                                                quam odit
                                                reprehenderit velit illum perferendis.
                                            </p>
                                            <br>
                                            <small><i>Ganjali Imanov</i></small>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">

                                            <i>10/04/21</i>
                                            <p>Perfection</p>
                                            <div class="rvw-stars">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                            </div>
                                            <br>
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus nisi
                                                quam odit
                                                reprehenderit velit illum perferendis.
                                            </p>
                                            <br>
                                            <small><i>Ganjali Imanov</i></small>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rvw-item carousel-item">
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <div class="card">

                                            <i>10/04/21</i>
                                            <p>Perfection</p>
                                            <div class="rvw-stars">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                            </div>
                                            <br>
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus nisi
                                                quam odit
                                                reprehenderit velit illum perferendis.
                                            </p>
                                            <br>
                                            <small><i>Ganjali Imanov</i></small>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">

                                            <i>10/04/21</i>
                                            <p>Perfection</p>
                                            <div class="rvw-stars">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                            </div>
                                            <br>
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus nisi
                                                quam odit
                                                reprehenderit velit illum perferendis.
                                            </p>
                                            <br>
                                            <small><i>Ganjali Imanov</i></small>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">

                                            <i>10/04/21</i>
                                            <p>Perfection</p>
                                            <div class="rvw-stars">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                            </div>
                                            <br>
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus nisi
                                                quam odit
                                                reprehenderit velit illum perferendis.
                                            </p>
                                            <br>
                                            <small><i>Ganjali Imanov</i></small>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="instock">
        <div class="container">
            <h2>HAZIR GÜZGÜLƏR</h2>
            <div class="row">
                <div class="instock-left col-7">
                    <img src="~/assets/images/products/custom-mirrors.png" alt="">
                    <a href="">HAZIR GÜZGÜLƏR AL</a>
                </div>
                <div class="instock-right col-5">
                    <img src="~/assets/images/products/custom-mirrors-2.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section id="advertising">
        <div class="container">
            <div class="adv-item">
                <h1>Sənin Güzgün, </h1>
                <h1 class="adv-txt">Sənin Zövqün</h1>
            </div>
        </div>
    </section>

    <section id="blog">
        <div class="container">
            <h2>BLOG</h2>
            <div class="column">
                <div class="blog-head col-12">
                    <div class="blog-head-item col-5">
                        <img src="~/assets/images/blog/glass-ideas-for-home-and-office.png" alt="">
                        <br><br>
                            <a href="">Ev və biznes üçün ofis şüşələri ideyaları</a>
                        <br><br>
                            <p>
                                Ofisinizin görünüşünü yaxşılaşdırmağın yollarını axtarırsınız? Dulles Glass-dan üstün fərdiləşdirilə bilən şüşə və güzgülərimizlə sizə lazım olanı tam olaraq əldə edirik! Dizaynerlərimizin ən son ideyaları üçün bizi izləyin və iş yerinizi yeniləmək üçün ilham alın.
                            </p>
                    </div>
                    <div class="blog-head-item col-5">
                        <img src="~/assets/images/blog/foam-mirror-diy.png" alt="">
                        <br><br>
                            <a href="">Yay tendensiyası - köpük güzgülər</a>
                        <br><br>
                            <p>
                                Bu tez və asan DIY köpük güzgü layihəsi ilə ev dekorunuzu gözəlləşdirin. Cəmi bir neçə materialla, evinizdə valehedici amil yaradacaq bulud kimi bir güzgü, köpük strafor bəzək yaradın..
                            </p>
                    </div>
                </div>
                <div class="blog-body col-12">
                    <div class="blog-body-item col-4">
                        <i class="bi bi-sliders"></i>
                        <br>
                        <h4>FƏRQLİ KƏSİM</h4>
                        <br>
                        <span></span>
                        <br>
                        <p>Fərqli kəsim sayəsində verilən kəsim növlərindən seçin.</p>
                    </div>
                    <div class="blog-body-item col-4">
                        <i class="bi bi-currency-dollar"></i>
                        <br>
                        <h4>PULSUZ ÇATDIRILMA</h4>
                        <br>
                        <span></span>
                        <br>
                        <p>Bakı şəhərinin hər bir yerinə pulsuz çatdırılma</p>
                    </div>
                    <div class="blog-body-item col-4">
                        <i class="bi bi-truck"></i>
                        <br>
                        <h4>SIĞORTALI ÇATDIRILMA</h4>
                        <br>
                        <span></span>
                        <br>
                        <p>Bütün məhsullar qırılmadan və 100% təmiz çatdırılma</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>