@model GlassViewModel

@section Measurement{
    <script src="~/assets/js/measurement.js"></script>
    <script src="~/assets/js/customize.js"></script>
}



<main id="glass">
    <section id="custom-select">
        <div class="container">
            <div class="column">
                <h3>ŞÜŞƏ</h3>
                <br>
                <p>İstədiyiniz bu 4 formadan olan şüşə ni seçin</p>
                <br>
                <div class="select-shape col-12">
                    <div class="shape-head col-12">
                        <h5>Kəsim formasını seçin</h5>
                    </div>
                    <div class="shapes col-12">
                        @foreach (var item in Model.Shapes)
                        {
                            <div class="shapes-item">
                                <h5>@item.Name</h5>
                                <br>
                                <img src="~/assets/images/products/@item.Image" alt="">
                                <br><br><br>
                                <a class="@(item.Id == 1?"recbtn":(item.Id == 2?"sqbtn":(item.Id == 3?"ovalbtn":"roundbtn")))">Seçin</a>
                            </div>
                            if (item.Id == 1)
                            {
                                <div class="measurement d-none" id="recmea">
                                    <a asp-action="index" asp-controller="glass" class="redirecturl"><i class="bi bi-arrow-left"></i> GERİYƏ DÖN</a>
                                    <br>
                                    <div class="mt-contain col-12">
                                        <div class="mtimg col-6">
                                            <img src="~/assets/images/products/mea-rec.png" alt="">
                                        </div>
                                        <div class="mt-right col-6">
                                            <form method="post" class="form1">
                                                <label><b>Uzunlugu Qeyd Edin:</b></label>
                                                <br /><br />
                                                <input type="number" name="uzunluq" placeholder="Mesel ucun: 2.5, 22.5 sm" class="numberinput" />
                                                <br /><br />
                                                <label><b>Enini Qeyd Edin:</b></label>
                                                <br /><br />
                                                <input type="number" name="en" placeholder="Mesel ucun: 2.5, 22.5 sm" class="numberinput" />
                                                <br /><br />
                                                <span class="text-danger input-error d-none">Xanalari doldurun!</span>
                                                <br />
                                                <br />

                                            </form>
                                            <a id="davametcustom" style="cursor:pointer;"> Davam Et</a>

                                        </div>
                                    </div>

                                </div>

                            }
                            else if (item.Id == 2)
                            {
                                <div class="measurement d-none" id="sqmea">
                                    <a asp-action="index" asp-controller="glass"><i class="bi bi-arrow-left"></i>  GERİYƏ DÖN</a>
                                    <br>
                                    <div class="mt-contain col-12">
                                        <div class="mtimg col-6">
                                            <img src="~/assets/images/products/mea-sqr.png" alt="">
                                        </div>
                                        <div class="mt-right col-6">
                                            <form method="post" class="form1">
                                                <label><b>Uzunlugu Qeyd Edin:</b></label>
                                                <br /><br />
                                                <input type="number" name="uzunluq" placeholder="Mesel ucun: 2.5, 22.5 sm" class="numberinput" />
                                                <br /><br />
                                                <label><b>Enini Qeyd Edin:</b></label>
                                                <br /><br />
                                                <input type="number" name="en" placeholder="Mesel ucun: 2.5, 22.5 sm" class="numberinput" />
                                                <br /><br />
                                                <span class="text-danger input-error d-none">Xanalari doldurun!</span>
                                                <br />
                                                <br />

                                            </form>
                                            <a id="davametcustom" style="cursor:pointer;"> Davam Et</a>
                                        </div>
                                    </div>

                                </div>
                            }
                            else if (item.Id == 3)
                            {
                                <div class="measurement d-none" id="ovalmea">
                                    <a asp-action="index" asp-controller="glass"><i class="bi bi-arrow-left"></i> GERİYƏ DÖN</a>
                                    <br>
                                    <div class="mt-contain col-12">
                                        <div class="mtimg col-6">
                                            <img src="~/assets/images/products/mea-ovl.png" alt="">
                                        </div>
                                        <div class="mt-right col-6">
                                            <form method="post" class="form1">
                                                <label><b>Uzunlugu Qeyd Edin:</b></label>
                                                <br /><br />
                                                <input type="number" name="uzunluq" placeholder="Mesel ucun: 2.5, 22.5 sm" class="numberinput" />
                                                <br /><br />
                                                <label><b>Enini Qeyd Edin:</b></label>
                                                <br /><br />
                                                <input type="number" name="en" placeholder="Mesel ucun: 2.5, 22.5 sm" class="numberinput" />
                                                <br /><br />
                                                <span class="text-danger input-error d-none">Xanalari doldurun!</span>
                                                <br />
                                                <br />

                                            </form>
                                            <a id="davametcustom" style="cursor:pointer;"> Davam Et</a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (item.Id == 4)
                            {
                                <div class="measurement d-none" id="roundmea">
                                    <a asp-action="index" asp-controller="glass"><i class="bi bi-arrow-left"></i> GERİYƏ DÖN</a>
                                    <br>
                                    <div class="mt-contain col-12">
                                        <div class="mtimg col-6">
                                            <img src="~/assets/images/products/mea-rnd.png" alt="">
                                        </div>
                                        <div class="mt-right col-6">
                                            <form method="post" class="form1">
                                                <label><b>Diametri Qeyd Edin:</b></label>
                                                <br /><br />
                                                <input type="number" name="diametr" placeholder="Mesel ucun: 2.5, 22.5 sm" class="numberinput" />
                                                <br /><br />
                                                <span class="text-danger input-error d-none">Xanalari doldurun!</span>
                                                <br />

                                            </form>
                                            <a id="davametcustom" style="cursor:pointer;"> Davam Et</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <br>
                    <a href="">Toplu sifariş üçün bura klikləyin</a>
                </div>
            </div>
        </div>
    </section>

    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="about-us-left col-8">
                    <h4>Bizim Şüşələr Haqqında</h4>
                    <br><br>
                    <p>Sifariş verərkən bizim xüsusi şüşələrimiz sizin spesifikasiyalarınıza uyğun hazırlanır. Biz xüsusi şüşə məhsullarımız üçün yalnız ən yüksək keyfiyyətli şüşə əldə edirik və onu öz fabrikimizdə istehsal edirik. Bu o deməkdir ki, biz hazırladığımız hər bir xüsusi kəsilmiş şüşə məhsulun keyfiyyətinə əmin ola bilərik.</p>
                    <p>Şüşənizi ehtiyacınız olan şəkildə fərdiləşdirməyin bir neçə yolu var:</p>
                    <ul>
                        <li>
                            <p><b>Şüşə Qalınlığı - </b>Bizim şüşələr bu qalınlıqda olur: 4 mm, 6 mm, 8 mm and 10 mm.</p>
                        </li>
                        <li>
                            <p><b>Şüşə Rəngləri - </b>Bizim şüşələr şəffaf(ağ), qara(tünd), mat(sətin) və qəhvəyi rəngdə vardır.</p>
                        </li>
                        <li>
                            <p><b>Şüşə Gücü - </b>Şüşə güc tərəfindən sadə və temper olunmuş (yəni bişmiş olur).</p>
                        </li>
                        <li>
                            <p><b>Şüşə qırağları - </b>Şüşə qırağlarına fasetli və radajlı novlərindən seçə bilərsiniz.</p>
                        </li>
                        <li>
                            <p><b>Şüşənin küncü - </b>Şüşənin küncünü yumru və düz kəsilmiş seçim edə bilərsiniz.</p>
                        </li>
                        <li>
                            <p><b>Mərkəzdən dəlik açmaq - </b>Əgər siz şüşənin mərkəzində dəlik istəyirsinizsə, biz istədiyiniz diametrdə bu dəliyi aça bilərik.</p>
                        </li>
                    </ul>
                </div>
                <div class="about-us-right col-4">
                    <img src="~/assets/images/about/Custom-Table082817-05.webp" alt="">
                </div>
            </div>
        </div>
    </section>

    <section id="where-use">
        <div class="container">
            <div class="row">
                <div class="where-use-left col-4">
                    <img src="~/assets/images/about/Custom-Shelf-082817-02.webp" alt="">
                </div>
                <div class="where-use-right col-8">
                    <h4>Şüşələri Harada İstifadə Edə Bilərik</h4>
                    <br>
                    <p>Bizim müştərilər bu şüşələri bir çox fərqli yerlərdə istifadə edə bilərlər. Bu yerləri sizə təqdi edirik:</p>
                    <ul>
                        <li>
                            <p>Veranda masası üstü</p>
                        </li>
                        <li>
                            <p>Antik mebel qoruyucuları</p>
                        </li>
                        <li>
                            <p>Şkaf şüşəsi</p>
                        </li>
                        <li>
                            <p>Şüşə ilə qəza yarandığı halda həmin şüşənin dəyişdirilməsi</p>
                        </li>
                        <li>
                            <p>Şüşə rəflər üçün</p>
                        </li>
                        <li>
                            <p>Sənətkarlıq və dizayn layihələrində</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="ordering">
        <div class="container">
            <h4>Şüşələrin Onlayn Sifarişi</h4>
            <br>
            <ul>
                <li>
                    <p><b>Şüşə İstehsalı- </b> sizin xüsusi şüşə məhsulunuz sifariş verdikdən sonra öz zavodumuzda hazırlanır. Əmin ola bilərsiniz ki, sizin məmnunluğunuz üçün şüşə məhsulunuzun keyfiyyətini özümüz idarə edirik.</p>
                </li>
                <li>
                    <p><b>Şüşə Qablaşdırması - </b> sadəcə müştərilərimizdən soruşun! Onlar sizə deyəcəklər ki, qablaşdırma şüşəni sizə gedən yolda təhlükəsiz saxlamaq üçün mükəmməldir.</p>
                </li>
                <li>
                    <p><b>Şüşə Çatdırılma - </b> şüşə məhsulunuz əksər hallarda 5-7 iş günü ərzində qapınıza çatacaq.</p>
                </li>
            </ul>
        </div>
    </section>

    <section id="faq">
        <div class="container">
            <h4>TEZ-TEZ VERİLƏN SUALLAR</h4>
            <br>
            <div class="column">
                <button class="accordion">Hansı növ şüşə ni online şəkildə əldə edə bilərəm?</button>
                <div class="panel">
                    <p>Siz online olaraq yuxarıda qeyd olunan növ şüşələri əldə edə bilərsiniz.</p>
                </div>
                <br>
                <button class="accordion">Verilən və ya sifariş olunan ölçülərin məhsulun hazırda olduqda eynisi mi olacaq?</button>
                <div class="panel">
                    <p>Bəli qeyd etdiyiniz şüşənin və ya digər məhsulun ölçüləri dəqiqlik ilə CNS kəsim növündən istifadə olunaraq kəsilir.</p>
                </div>
                <br>
                <button class="accordion">Onlayn sifariş verə biləcəyim ən böyük şüşə parçası hansıdır?</button>
                <div class="panel">
                    <p>Maksimal kəsə biləcəyimiz 8x8 dir.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="videos">
        <div class="container">
            <h2>VİDEO GÖRÜNTÜLƏR</h2>
            <br><br>
            <div class="row">
                <div class="vd-item col-3">
                    <img src="~/assets/images/technica/faska.jpg" alt="">
                    <i class="bi bi-play-btn-fill"></i>
                    <br><br>
                    <h4>Glass Thikness</h4>
                </div>
                <div class="vd-item col-3">
                    <img src="~/assets/images/technica/faska.jpg" alt="">
                    <i class="bi bi-play-btn-fill"></i>
                    <br><br>
                    <h4>Glass Thikness</h4>
                </div>
                <div class="vd-item col-3">
                    <img src="~/assets/images/technica/faska.jpg" alt="">
                    <i class="bi bi-play-btn-fill"></i>
                    <br><br>
                    <h4>Glass Thikness</h4>
                </div>

            </div>
        </div>
    </section>

    <section id="related">
        <div class="container">
            <h2>ŞÜŞƏ NÖVLƏRİ</h2>
            <br><br>
            <div class="row">
                <div class="related-item col-2">
                    <img src="~/assets/images/products/TypeBronze.webp" alt="">
                    <br><br>
                    <h5>Qəhvəyi Şüşə</h5>
                </div>
                <div class="related-item col-2">
                    <img src="~/assets/images/products/TypeGray.webp" alt="">
                    <br><br>
                    <h5>Qara Şüşə</h5>
                </div>
                <div class="related-item col-2">
                    <img src="~/assets/images/products/TypeFrosted.webp" alt="">
                    <br><br>
                    <h5>Sətin Şüşə</h5>
                </div>
                <div class="related-item col-2">
                    <img src="~/assets/images/products/TypeBeveled.webp" alt="">
                    <br><br>
                    <h5>Fasetli Şüşə</h5>
                </div>
                <div class="related-item col-2">
                    <img src="~/assets/images/products/TypeLowIron.webp" alt="">
                    <br><br>
                    <h5>Şəffaf Şüşə</h5>
                </div>

            </div>
        </div>
    </section>

    <section id="blog">
        <div class="container">
            <h2>BLOG</h2>
            <div class="column">
                <div class="blog-head col-12">
                    <div class="blog-head-item col-5">
                        <img src="~/assets/images/blog/glass-ideas-for-home-and-office.png" alt="">
                        <br><br>
                        <a href="">Ev və biznes üçün ofis şüşələri ideyaları</a>
                        <br><br>
                        <p>
                            Ofisinizin görünüşünü yaxşılaşdırmağın yollarını axtarırsınız? Dulles Glass-dan üstün fərdiləşdirilə bilən şüşə və güzgülərimizlə sizə lazım olanı tam olaraq əldə edirik! Dizaynerlərimizin ən son ideyaları üçün bizi izləyin və iş yerinizi yeniləmək üçün ilham alın.
                        </p>
                    </div>
                    <div class="blog-head-item col-5">
                        <img src="~/assets/images/blog/foam-mirror-diy.png" alt="">
                        <br><br>
                        <a href="">Yay tendensiyası - köpük güzgülər</a>
                        <br><br>
                        <p>
                            Bu tez və asan DIY köpük güzgü layihəsi ilə ev dekorunuzu gözəlləşdirin. Cəmi bir neçə materialla, evinizdə valehedici amil yaradacaq bulud kimi bir güzgü, köpük strafor bəzək yaradın..
                        </p>
                    </div>
                </div>
                <div class="blog-body col-12">
                    <div class="blog-body-item col-4">
                        <i class="bi bi-sliders"></i>
                        <br>
                        <h4>FƏRQLİ KƏSİM</h4>
                        <br>
                        <span></span>
                        <br>
                        <p>Fərqli kəsim sayəsində verilən kəsim növlərindən seçin.</p>
                    </div>
                    <div class="blog-body-item col-4">
                        <i class="bi bi-currency-dollar"></i>
                        <br>
                        <h4>PULSUZ ÇATDIRILMA</h4>
                        <br>
                        <span></span>
                        <br>
                        <p>Bakı şəhərinin hər bir yerinə pulsuz çatdırılma</p>
                    </div>
                    <div class="blog-body-item col-4">
                        <i class="bi bi-truck"></i>
                        <br>
                        <h4>SIĞORTALI ÇATDIRILMA</h4>
                        <br>
                        <span></span>
                        <br>
                        <p>Bütün məhsullar qırılmadan və 100% təmiz çatdırılma</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<main id="customize" class="d-none">
    <section id="type">
        <div class="container">
            <h2>Customize</h2>
            <hr>
            <div class="row">
                <form method="post" class="form1 col-8">
                    <div class="customize-types">
                        <div class="glass-type">
                            <div class="column">
                                <p>Glass Type:<b>Clear Glass</b></p>
                                @foreach (var item in Model.Colors)
                                {
                                    <div class="gl-type-item">
                                        <input type="checkbox" id="checkitem">
                                        <div class="type-item-left col-3">
                                            <p>@item.Name Şüşə</p>
                                            <br>
                                            <img src="~/assets/images/products/TypeGray.webp" alt="">
                                        </div>
                                        <div class="type-item-right col-8">
                                            <p>
                                                Simple, beautiful clear glass.
                                                High-quality and naturally transparent.
                                            </p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <br>
                        <div class="glass-thickness">
                            <div class="column">
                                <p>Glass Thickness:<b>Clear Glass</b></p>
                                @foreach (var item in Model.Thicknesses)
                                {
                                    <div class="gl-thick-item" id="checkitem2">
                                        <input type="checkbox">
                                        <div class="thick-item">
                                            <h5>@item.Size Qalınlıq</h5>
                                            <p>Thinner glass suitable for lightweight applications like picture frames or cabinet glass. Available in clear glass only.</p>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                        <br>
                        <div class="glass-edging">
                            <div class="column">
                                <p>Edging: <b>Flat Polish</b></p>
                                @foreach (var item in Model.Polishes)
                                {
                                    <div class="gl-edging-item">
                                        <input type="checkbox">
                                        <div class="edging-item-left col-3">
                                            <p>@item.Name</p>
                                            <br>
                                            <img src="~/assets/images/products/seamededge.gif" alt="">
                                        </div>
                                        <div class="edging-item-right col-8">
                                            <p>Seamed edges are lightly sanded so that the edges aren't sharp and the glass is safe to handle. Choose a seamed edge if the glass will be framed or the edges won't be visible.</p>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                        <br>
                        <div class="glass-corner">
                            <div class="column">
                                <p>Corner Finish: <b>None</b></p>
                                <div class="gl-corner-item">
                                    <input type="checkbox">
                                    <p>None</p>
                                </div>
                                @foreach (var item in Model.Corners)
                                {
                                    <div class="gl-corner-item">
                                        <input type="checkbox">
                                        <div class="corner-item-left col-3">
                                            <p>@item.Name Kunc</p>
                                            <br>
                                            <img src="~/assets/images/products/corner-eased.jpg" alt="">
                                        </div>
                                        <div class="corner-item-right col-8">
                                            <p>Our most popular corner finish. Corners are sanded slightly so corners are not sharp.</p>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                        <br>
                        <div class="glass-hole">
                            <div class="column">
                                <p>Center Hole: <b>Center Hole</b></p>
                                <div class="gl-hole-item">
                                    <input type="checkbox">
                                    <p>None</p>
                                </div>
                                <div class="gl-hole-item">
                                    <input type="checkbox">
                                    <p>Center Hole (umbrella hole)</p>
                                    <br>
                                    <div class="hole-item">
                                        <p>Center Hole</p>
                                        <div class="center-hole col-12">
                                            <div class="center-hole-left col-7">
                                                <img src="~/assets/images/products/center-hole.png" alt="">
                                            </div>
                                            <div class="center-hole-right col-5">
                                                <div class="form-group">
                                                    <label for="holesize">Hole Size:</label>
                                                    <select name="holesize" id="holesize" class="form-control">
                                                        <option>1"</option>
                                                        <option selected="selected">2"</option>
                                                        <option>4"</option>
                                                    </select>
                                                    <br>
                                                    <p>2" is the most common size for center (umbrella) holes.</p>
                                                    <br>
                                                    <p>Please note that the inner edge of the hole is seamed.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <div class="summary-item col-3">
                    <h5>SUMMARY</h5>
                    <hr>
                    <ul>
                        <li>
                            <p>List Price</p>
                            <b>120$</b>
                        </li>
                        <li>
                            <p>Discount </p>
                            <b>120$</b>
                        </li>
                        <li>
                            <p>Your Price </p>
                            <b>120$</b>
                        </li>
                    </ul>
                    <br>
                    <small>Ships within 5-7 business days.</small>
                    <br><br>
                    <a id="submitform" style="cursor:pointer;">ADD TO CART</a>
                   @* <input type="button" value="ADD TO CART" id="submitbtn">*@
                    <br><br>
                    <p>Specifications</p>
                    <ul>
                        <li>
                            <p><b>Product: </b>Replacement glass</p>
                        </li>
                        <li>
                            <p><b>Shape: </b> @Model.Shape</p>
                        </li>
                        <li>
                            <p><b>Size: </b>24 x 36</p>
                        </li>
                        <li>
                            <p><b>1/4" Clear Glass</b></p>
                        </li>
                        <li>
                            <p><b>Flat Polish Edge</b></p>
                        </li>
                        <li>
                            <p><b>Annealed (Standard) Glass</b></p>
                        </li>
                    </ul>
                    <br>
                    <a href="">SEE IN-STOCK ITEMS</a>
                </div>

            </div>
        </div>
    </section>
</main>