@model Product
@section Customize{
    <script src="~/assets/js/measurement.js"></script>
    <script src="~/assets/js/customize.js"></script>
}

<main id="customize">

    <form method="post" class="form1" enctype="multipart/form-data">
        <section id="custom-select">
            <div class="container">
                <div class="column">
                    <h3>ŞÜŞƏ</h3>
                    <br>
                    <p>Şüşənin enini və uzununu daxil edin</p>
                    <br>
                    <div class="select-shape col-12">
                        <div class="shape-head col-12">
                            <h5>Ölçüləri Daxil Edin</h5>
                        </div>
                        <div class="shapes col-12">
                            <div class="measurement" id="recmea">
                                <a asp-action="index" asp-controller="glass" class="redirecturl"><i class="bi bi-arrow-left"></i> GERİYƏ DÖN</a>
                                <br>
                                <div class="mt-contain col-12">
                                    <div class="mtimg col-6">
                                        <img src="~/assets/images/products/mea-rec.png" alt="">
                                    </div>
                                    <div class="mt-right col-6">

                                        <label><b>Uzunlugu Qeyd Edin:</b></label>
                                        <br /><br />
                                        <input type="number" name="uzunluq" placeholder="Mesel ucun: 2.5, 22.5 sm" class="numberinput" asp-for="Uzunluq" />
                                        <br /><br />
                                        <label><b>Enini Qeyd Edin:</b></label>
                                        <br /><br />
                                        <input type="number" name="en" placeholder="Mesel ucun: 2.5, 22.5 sm" class="numberinput" asp-for="En" />
                                        <br /><br />
                                        <span class="text-danger input-error d-none">Xanalari doldurun!</span>
                                        <br />
                                        <br />
                                    </div>
                                </div>

                            </div>

                        </div>
                        <br>
                        <a href="">Toplu sifariş üçün bura klikləyin</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="type">
            <div class="container">
                <h2>Customize</h2>
                <hr>
                <div class="row">

                    <div class="customize-types col-8">

                        <div class="glass-type">
                            <div class="column">
                                <p>Glass Type:<b>Clear Glass</b></p>

                                <label asp-for="ColorId">Color</label>
                                <select class="form-select form-select-lg" asp-for="ColorId" id="ColorId" asp-items="@(new SelectList(ViewBag.Colors,"Id","Name"))">
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="glass-thickness">
                            <div class="column">
                                <p>Glass Thickness:<b>Clear Glass</b></p>

                                <label asp-for="ThicknessId">Color</label>
                                <select class="form-select form-select-lg" asp-for="ThicknessId" id="ThicknessId" asp-items="@(new SelectList(ViewBag.Thicknesses,"Id","Size"))">
                                </select>
                                @*   @foreach (var item in Model.Thicknesses)
                                    {
                                        <div class="gl-thick-item" id="checkitem2">
                                            <input type="checkbox">
                                            <div class="thick-item">
                                                <h5>@item.Size Qalınlıq</h5>
                                                <p>Thinner glass suitable for lightweight applications like picture frames or cabinet glass. Available in clear glass only.</p>
                                            </div>
                                        </div>

                                    }*@
                            </div>
                        </div>
                        <br>
                        <div class="glass-edging">
                            <div class="column">
                                <p>Edging: <b>Flat Polish</b></p>

                                <label asp-for="PolishId">Color</label>
                                <select class="form-select form-select-lg" asp-for="PolishId" id="PolishId" asp-items="@(new SelectList(ViewBag.Polishes,"Id","Name"))">
                                </select>
                                @*  @foreach (var item in Model.Polishes)
                                    {
                                        <div class="gl-edging-item">
                                            <input type="checkbox">
                                            <div class="edging-item-left col-3">
                                                <p>@item.Name</p>
                                                <br>
                                                <img src="~/assets/images/products/seamededge.gif" alt="">
                                            </div>
                                            <div class="edging-item-right col-8">
                                                <p>Seamed edges are lightly sanded so that the edges aren't sharp and the glass is safe to handle. Choose a seamed edge if the glass will be framed or the edges won't be visible.</p>
                                            </div>
                                        </div>

                                    }*@
                            </div>
                        </div>
                        <br>
                        <div class="glass-corner">
                            <div class="column">
                                <p>Corner Finish: <b>None</b></p>
                                <div class="gl-corner-item">
                                    <input type="checkbox">
                                    <p>None</p>
                                </div>
                                <label asp-for="CornerId">Color</label>
                                <select class="form-select form-select-lg" asp-for="CornerId" id="CornerId" asp-items="@(new SelectList(ViewBag.Corners,"Id","Name"))">
                                </select>
                                @* @foreach (var item in Model.Corners)
                                    {
                                        <div class="gl-corner-item">
                                            <input type="checkbox">
                                            <div class="corner-item-left col-3">
                                                <p>@item.Name Kunc</p>
                                                <br>
                                                <img src="~/assets/images/products/corner-eased.jpg" alt="">
                                            </div>
                                            <div class="corner-item-right col-8">
                                                <p>Our most popular corner finish. Corners are sanded slightly so corners are not sharp.</p>
                                            </div>
                                        </div>

                                    }*@
                            </div>
                        </div>
                        <br>
                        <div class="glass-hole">
                            <div class="column">
                                <p>Center Hole: <b>Center Hole</b></p>
                                <div class="gl-hole-item">
                                    <input type="checkbox">
                                    <p>None</p>
                                </div>
                                <div class="gl-hole-item">
                                    <input type="checkbox">
                                    <p>Center Hole (umbrella hole)</p>
                                    <br>
                                    <div class="hole-item">
                                        <p>Center Hole</p>
                                        <div class="center-hole col-12">
                                            <div class="center-hole-left col-7">
                                                <img src="~/assets/images/products/center-hole.png" alt="">
                                            </div>
                                            <div class="center-hole-right col-5">
                                                <div class="form-group">
                                                    <label for="holesize">Hole Size:</label>
                                                    <select name="holesize" id="holesize" class="form-control">
                                                        <option>1"</option>
                                                        <option selected="selected">2"</option>
                                                        <option>4"</option>
                                                    </select>
                                                    <br>
                                                    <p>2" is the most common size for center (umbrella) holes.</p>
                                                    <br>
                                                    <p>Please note that the inner edge of the hole is seamed.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="summary-item col-3">
                        <h5>SUMMARY</h5>
                        <hr>
                        <ul>
                            <li>
                                <p>List Price</p>
                                <b>120$</b>
                            </li>
                            <li>
                                <p>Discount </p>
                                <b>120$</b>
                            </li>
                            <li>
                                <p>Your Price </p>
                                <b>120$</b>
                            </li>
                        </ul>
                        <br>
                        <small>Ships within 5-7 business days.</small>
                        <br><br>
                        @* <a id="submitform" style="cursor:pointer;">ADD TO CART</a>*@
                        <input type="submit" value="ADD TO CART" id="submitbtn">
                        <br><br>
                        <p>Specifications</p>
                        <ul>
                            <li>
                                <p><b>Product: </b>Replacement glass</p>
                            </li>
                            <li>
                                <p><b>Shape: </b></p>
                            </li>
                            <li>
                                <p><b>Size: </b>24 x 36</p>
                            </li>
                            <li>
                                <p><b>1/4" Clear Glass</b></p>
                            </li>
                            <li>
                                <p><b>Flat Polish Edge</b></p>
                            </li>
                            <li>
                                <p><b>Annealed (Standard) Glass</b></p>
                            </li>
                        </ul>
                        <br>
                        <a href="">SEE IN-STOCK ITEMS</a>
                    </div>

                </div>
            </div>
        </section>
    </form>

</main>
